In [1]:
import pandas as pd

In [56]:
# Load DataFrame 'dataset' and drop first column
dataset = pd.read_csv('final_df.csv', encoding='utf-8', sep=';')
dataset.drop(dataset.columns[0], axis=1, inplace=True)

dataset.head(3)

,roomType,roomPrice,hostType,rating,numberReviews,Unnamed: 6,Bedroom,Breakfast,Long term stays allowed,Sauna,...,WiFi,Lit path to the guest entrance,Laundry room,Crib,Microwave,Bathroom,Washer,TV,Luggage Dropoff Allowed,Patio
0,Loft,268.0,preferido,4.89,74.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Loft,99.0,preferido,4.95,148.0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0
2,Chalé,329.0,preferido,4.94,319.0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [57]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 46 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   roomType                           426 non-null    object
 1   roomPrice                          428 non-null    float64
 2   hostType                           429 non-null    object
 3   rating                             409 non-null    float64
 4   numberReviews                      409 non-null    float64
 5   Unnamed: 6                         429 non-null    int64
 6   Bedroom                            429 non-null    int64
 7   Breakfast                          429 non-null    int64
 8   Long term stays allowed            429 non-null    int64
 9   Sauna                              429 non-null    int64
 10  EV Charger                         429 non-null    int64
 11  Dryer                              429 non-null    int64
 12  Lock on bedroom door               429 non-null    int64
 13  Unavailable: Lock on bedroom door  429 non-null    int64
 14  Air Conditioning                   429 non-null    int64
 15  Bathtub                            429 non-null    int64
 16  Carbon Monoxide Alarm              429 non-null    int64
 17  Fire pit                           429 non-null    int64
 18  Ethernet connection                429 non-null    int64
 19  Pool                               429 non-null    int64
 20  Pets Allowed                       429 non-null    int64
 21  Baby bath                          429 non-null    int64
 22  High Chair                         429 non-null    int64
 23  View                               429 non-null    int64
 24  Refrigerator                       429 non-null    int64
 25  Smoke Alarm                        429 non-null    int64
 26  Elevator                           429 non-null    int64
 27  Security Cameras                   429 non-null    int64
 28  Hot Tub                            429 non-null    int64
 29  Smoking allowed                    429 non-null    int64
 30  Bedroom 2                          429 non-null    int64
 31  HDTV                               429 non-null    int64
 32  Kitchen                            429 non-null    int64
 33  Accessible                         429 non-null    int64
 34  Waterfront                         429 non-null    int64
 35  Parking                            429 non-null    int64
 36  WiFi                               429 non-null    int64
 37  Lit path to the guest entrance     429 non-null    int64
 38  Laundry room                       429 non-null    int64
 39  Crib                               429 non-null    int64
 40  Microwave                          429 non-null    int64
 41  Bathroom                           429 non-null    int64
 42  Washer                             429 non-null    int64
 43  TV                                 429 non-null    int64
 44  Luggage Dropoff Allowed            429 non-null    int64
 45  Patio                              429 non-null    int64
dtypes: float64(3), int64(41), object(2)
memory usage: 154.3+ KB

In [58]:
# Droping more columns...
dataset.drop(dataset.columns[5], axis=1, inplace= True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 45 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   roomType                           426 non-null    object
 1   roomPrice                          428 non-null    float64
 2   hostType                           429 non-null    object
 3   rating                             409 non-null    float64
 4   numberReviews                      409 non-null    float64
 5   Bedroom                            429 non-null    int64
 6   Breakfast                          429 non-null    int64
 7   Long term stays allowed            429 non-null    int64
 8   Sauna                              429 non-null    int64
 9   EV Charger                         429 non-null    int64
 10  Dryer                              429 non-null    int64
 11  Lock on bedroom door               429 non-null    int64
 12  Unavailable: Lock on bedroom door  429 non-null    int64
 13  Air Conditioning                   429 non-null    int64
 14  Bathtub                            429 non-null    int64
 15  Carbon Monoxide Alarm              429 non-null    int64
 16  Fire pit                           429 non-null    int64
 17  Ethernet connection                429 non-null    int64
 18  Pool                               429 non-null    int64
 19  Pets Allowed                       429 non-null    int64
 20  Baby bath                          429 non-null    int64
 21  High Chair                         429 non-null    int64
 22  View                               429 non-null    int64
 23  Refrigerator                       429 non-null    int64
 24  Smoke Alarm                        429 non-null    int64
 25  Elevator                           429 non-null    int64
 26  Security Cameras                   429 non-null    int64
 27  Hot Tub                            429 non-null    int64
 28  Smoking allowed                    429 non-null    int64
 29  Bedroom 2                          429 non-null    int64
 30  HDTV                               429 non-null    int64
 31  Kitchen                            429 non-null    int64
 32  Accessible                         429 non-null    int64
 33  Waterfront                         429 non-null    int64
 34  Parking                            429 non-null    int64
 35  WiFi                               429 non-null    int64
 36  Lit path to the guest entrance     429 non-null    int64
 37  Laundry room                       429 non-null    int64
 38  Crib                               429 non-null    int64
 39  Microwave                          429 non-null    int64
 40  Bathroom                           429 non-null    int64
 41  Washer                             429 non-null    int64
 42  TV                                 429 non-null    int64
 43  Luggage Dropoff Allowed            429 non-null    int64
 44  Patio                              429 non-null    int64
dtypes: float64(3), int64(40), object(2)
memory usage: 150.9+ KB

In [59]:
# Finding registers with null values
nulls = dataset.isnull().sum()
nulls[nulls > 0]

roomType          3
roomPrice         1
rating           20
numberReviews    20
dtype: int64

In [60]:
# Treating null values with mean (for numerical columns) and with mode (for categorical columns))
for column in dataset.columns:
    if dataset[column].dtype in ['float64', 'int64']:
        # Treating with mean for numerical columns
        dataset[column].fillna(dataset[column].mean())
    else:
        # Treating with mode for categorical columns
        dataset[column].fillna(dataset[column].mode()[0])

# Checking for reminiscent null values
nulls_ = dataset.isnull().sum()
nulls_[nulls_ > 0]

roomType          3
roomPrice         1
rating           20
numberReviews    20
dtype: int64

In [61]:
# There are some registries that hahaves a price of just R$ 1.00, which doesn't make sense.
# Let's do a sanity check before going forward

wrong_price_registries = dataset[dataset['roomPrice'] <=80]
dataset.drop(wrong_price_registries.index, inplace=True)

print(dataset[dataset['roomPrice'] <= 80])

Empty DataFrame
Columns: [roomType, roomPrice, hostType, rating, numberReviews, Bedroom, Breakfast, Long term stays allowed, Sauna, EV Charger, Dryer, Lock on bedroom door, Unavailable: Lock on bedroom door, Air Conditioning, Bathtub, Carbon Monoxide Alarm, Fire pit, Ethernet connection, Pool, Pets Allowed, Baby bath, High Chair, View, Refrigerator, Smoke Alarm, Elevator, Security Cameras, Hot Tub, Smoking allowed, Bedroom 2, HDTV, Kitchen, Accessible, Waterfront, Parking, WiFi, Lit path to the guest entrance, Laundry room, Crib, Microwave, Bathroom, Washer, TV, Luggage Dropoff Allowed, Patio]
Index: []

[0 rows x 45 columns]

In [62]:
# Descriptive statistics for numerical columns
num_dataset = dataset[['roomPrice', 'rating', 'numberReviews']]
desc_stats = num_dataset.describe()

desc_stats

        roomPrice      rating  numberReviews
count  412.000000  393.000000     393.000000
mean   396.271845    4.902672      85.346056
std    211.707504    0.124387      85.605868
min     83.000000    4.330000       3.000000
25%    238.000000    4.870000      22.000000
50%    354.000000    4.940000      50.000000
75%    518.000000    5.000000     126.000000
max    993.000000    5.000000     507.000000

In [63]:
dataset.to_csv('cleaned_final_df.csv', sep=';')